<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DesktopWidgets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DesktopWidgets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <userSettings>
    <DesktopWidgets.Properties.Settings>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Widgets" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAdvancedMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageWidgetsHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ManageWidgetsWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveDelay" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="RunOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MouseBoundsPollingInterval" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="UpdateDays" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateBranch" serializeAs="String">
        <value>Stable</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateCheckInterval" serializeAs="String">
        <value>1.00:00:00</value>
      </setting>
      <setting name="AllowMultiInstance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WidgetEditorWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WidgetEditorHeight" serializeAs="String">
        <value>650</value>
      </setting>
      <setting name="OptionsIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropertyGridNameColumnWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MaxConcurrentMediaPlayers" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="SnapMargin" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="OptionsWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="OptionsHeight" serializeAs="String">
        <value>550</value>
      </setting>
      <setting name="ChangelogCache" serializeAs="String">
        <value />
      </setting>
      <setting name="MuteDuration" serializeAs="String">
        <value>01:00:00</value>
      </setting>
      <setting name="MuteEndTime" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableChangelog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageEventsWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ManageEventsHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EventActionPairEditorWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="EventActionPairEditorHeight" serializeAs="String">
        <value>650</value>
      </setting>
      <setting name="DumpUnhandledErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WidgetPackagePublisherName" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoSaveInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="PropertyGridIsCategorized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionsGeneralFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="WidgetEditorFilter" serializeAs="String">
        <value />
      </setting>
    </DesktopWidgets.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DesktopWidgets.Properties.Settings>
      <setting name="BetaVersion" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="DoubleComparisonTolerance" serializeAs="String">
        <value>1E-09</value>
      </setting>
      <setting name="ChangelogDownloadPages" serializeAs="String">
        <value>5</value>
      </setting>
    </DesktopWidgets.Properties.Settings>
  </applicationSettings>
</configuration>
